//COLORS
$white:#fff;
$black:#000;
$primary:#23068f;
$primary-light:#3907f1;
$primary-dark:#170361;
$light-grey:#cbcace;
$lighter-grey:#d5d4d8;
$dark-grey:#494949;

//FONTS
$default-font-size: 1.6rem;
$font-smaller: 1.2rem;