@media (max-width: 920px){
    nav .navbar{
        max-width: 100%;
        padding: 0 2.5rem;  
    }
    nav .navbar .logo a{
        font-size: 2.7rem;
    }
    nav .navbar .links li{
        padding: 0 1rem;
        white-space: nowrap;
    }
    nav .navbar .links li  a{
        font-size: 1.5rem;
    }
}
@media (max-width: 800px){
    .btn:link, .btn:visited, .btn:active, .btn:hover{
            font-size: 2rem;
            width: 15rem;
            padding:2rem;
            border-radius: 4rem;
            border: .1rem solid #23068f;
        }
    .navbar .bx-menu{
        display: block;
    }
    nav .navbar .logo a{
        display: none;
    }
    nav .navbar .nav-links{
        position: fixed;
        display: block;
        left: 0;
        top: 0;
        max-width: 27rem;
        width: 100%;
        background: #23068f;
        padding: 2rem;
        line-height: 4rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 100;
    }
    .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name{
        font-size: 2rem;
        color: #fff;
    }
    .sidebar-logo i,
    .navbar .bx-menu{
        color: #fff;
        font-size: 2.5rem;
    }
    nav .navbar .links{
        display: block;
        margin-top: 2rem;
    }
    nav .navbar .links li .arrow{
        line-height: 4rem;
    }
    nav .navbar .links li{
        display: block;
    }
    nav .navbar .links li .submenu{
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    nav .navbar .links li .submenu li{
        border-bottom: none;
    }
    .navbar .nav-links.show .links .submenu{
        display: block;
    }
    .navbar .nav-links.show .links .arrow{
        transform: rotate(180deg);
    }

}
@media screen and (min-width: 768px) {
    .form-box{
        flex-direction: row;
    }
    .form-box .progress{
        flex: 1 0 35%;
        min-width: 30rem;
        padding: 3rem;
    }
    .progress .form-title{
        position: relative;
        font-size: 2.5rem;
        font-weight: 800;
        color: #333;
        margin-bottom: 3rem;
        text-align: center;
        margin: 0 0;
    }
    .form-title::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.5px;
        width: 12rem;
        border-radius: 8px;
        background-color: #23068f;
    }
    .progress ul.progress-steps {
        flex-direction: column;
        align-items: flex-start;
    }
    .progress ul.progress-steps li:not(:last-child)::before{
        content: '';
        position: absolute;
        left: 2rem;
        top: 3rem;
        width: .2rem;
        height: 6.5rem;
        background-color: #cbcace;
    }
    .form-box form{
        padding: 3rem;
        border-radius: 0 1.5rem 1.5rem 0;
    }
    .progress ul li p{
        position: relative;
        top: auto;
        font-size: inherit;
    }
    .progress ul.progress-steps li p span{
        display: block;
    }
}

@media (max-width: 370px){
    nav .navbar .nav-links{
        max-width: 100%;
    }
    .btn{
        display: none;
    }
}

/* FORMS */
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}